@import "normalize";
@import "vars";
@import "themes/dark";
@import "themes/light";

body{
  height: 100vh;
  font: var(--font-s);
  min-width: 500px;
}

.app{
  background: var(--primary-bg-color);
  color: var(--text-color);
  transition: .5s background-color;
}

.container{
  width: 100%;
  max-width: 1600px;
  margin: 10px auto;
  padding: 0 10px;
}