@import "normalize";
@import "vars";

@import "themes/dark";
@import "themes/light";

@import "devices/desktop";
@import "devices/mobile";

body{
  height: 100vh;
  font: var(--font-s);
}

.app{
  background: var(--primary-bg-color);
  color: var(--text-color);
  transition: .5s background-color;
}

.container{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  max-width: 1500px;
  padding: 20px 15px;
  margin: 0 auto;
}

.container::-webkit-scrollbar {
  width: 12px;
}
.container::-webkit-scrollbar-track {
  background: transparent;
}
.container::-webkit-scrollbar-thumb {
  background: var(--board-color);
  border-radius: 20px;
}