.mobile{
  --sidebar-width: 250px;
  --header-height: 300px;

  --width-avatar-profile-data: 250px;

  .container{
    position: absolute;
    left: 10px;
    width: calc(100% - 10px);
    top: 0;
  }
}