.data{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block{
  display: flex;
  flex-wrap: wrap;
}

.bio_block{
  color: #fff;
  background: var(--board-color);
  border-radius: 5px;
}
