.data{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  border-top: 5px solid var(--secondary-bg-color);
  border-bottom: 5px solid var(--secondary-bg-color);
}

.block{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.bio_block{
  color: #fff;
  background: var(--board-color);
  border-radius: 5px;
}
