.card{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  min-width: 200px;
  margin-bottom: 60px;
  border-bottom: 5px solid var(--code-color);

  .text_header{
    color: #fff;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  background: var(--board-color);
}