.button{
  margin: 5px;
  padding: 10px 5px;
  border-radius: 5px;
  color: #fff;

  transition: .4s background-color;
}

.button:hover{
  background: #2079ff;
}

.none{
  border: none;
}
.outline{
  border: 2px solid #3c8bff;
}
.filled{
  background: #3c8bff;
  color: #fff;
}
.circle{
  background: #3c8bff;
  border-radius: 50%;
}