.bar_wrapper{
    display: flex;
}

.bar{
  position: relative;
  margin: 0 auto;
  flex-direction: column;
  width: auto;
}

.bar:before{
  content: "";
  position: absolute;
  top: -30px;
  left: 1rem;
  width: 210px;
  height: 2px;
  background: var(--text-color);
}
.bar:after{
  content: "";
  position: absolute;
  top: 140px;
  left: 1rem;
  width: 210px;
  height: 2px;
  background: var(--text-color);
}

.link{
  margin: 0 150px;
}
.icon_link{
  margin: 0 20px;
}