.bar_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.bar{
  display: flex;
  justify-content: center;
  position: relative;

  flex-direction: column;
}

.item{
  display: flex;
  flex-wrap: wrap;
}

.link{
  margin: 0 150px;
}
.icon_link{
  margin: 0 20px;
}