.header{
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: var(--board-color);
  height: var(--header-height);
}

.avatar{
  border-radius: 50%;
  border: 3px solid #fff;
  padding: 5px;
}

.name{
  color: #fff;
}