.item {
  margin: 10px 0;
}

.header{
  align-items: center;
  justify-content: space-between;
  background: var(--primary-bg-color);
}

.managment_block{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer{
  background: var(--ternary-bg-color);
}