.item {
  margin-bottom: 100px;
}

.header{
  display: flex;
  justify-content: space-between;
  background: var(--board-color);

  .text_header{
    color: #fff;
  }
}

.footer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: var(--board-color);
  color: #fff;
}